@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Welcome to Car Everywhere, register customers and cars. From there, create car rentals in the system, linking customers.</p>
</div>
